@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Skranji');
body {
  font-family: 'Kaushan Script', 'Skranji', sans-serif;
}

main {
  display: flex;
  justify-content: space-around;
}

#userForm {
  background-color: #97befc;
  border: 6px solid #e3e3e3;
  padding: 1rem;
}
